.vscode/
.history/
.github
PPT/~$*
tempCode**.js
tempCodeRunnerFile.*
workspace/ch05/ajax/*.js
workspace/ch05/bom/*.js
workspace/ch06/*.js
workspace/ch07/*.js
workspace/ch08/*.js
workspace/ch08/**/*.js
# workspace-ins/ts-refactoring/**/*
# workspace-ins/ts-refactoring/**/*.js
# workspace-ins/ts-refactoring/convert-js-to-ts.js
node_modules
package.json
package-lock.json